<section id="proyectos" class="negro">
    <p class="cabin-bold">PROYECTOS</p>
    <div class="linea-separadora2 mx-auto"></div>
    <div class="row justify-content-center mx-6 margen-movil">

        <!-- primera tarjeta -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card custom-card h-100">
                <%= image_tag 'card1.PNG', class: "card-img-top" %>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title cabin-regular2">Southern Tribe</h5>
                    <p class="card-text cabin-regular3">Página web que agrupa a la comunidad de Indian Raiders del sur de Chile. La tribu más grande y austral de nuestro país, de amantes de las motocicletas Indian. </p>
                    <%= link_to 'Ingresar al Proyecto', 'https://southerntribe.cl/', class: 'btn-proyecto', target: '_blank' %>
                </div>
            </div>
        </div>

        <!-- segunda tarjeta -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card custom-card h-100">
                <%= image_tag 'card2.PNG', class: "card-img-top" %>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title cabin-regular2">2C Gestión Inmobiliaria</h5>
                    <p class="card-text cabin-regular3">Sitio Web de la empresa 2C Gestión Inmobiliaria que presta servicios de administración de comunidades, corretaje de propiedades y asesorías Inmobiliarias.</p>
                    <%= link_to 'Ingresar al Proyecto', 'https://2cgestioninmobiliaria.cl/', class: 'btn-proyecto', target: '_blank' %>
                </div>
            </div>
        </div>

        <!-- tercera tarjeta -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card custom-card h-100">
                <%= image_tag 'card3.PNG', class: "card-img-top" %>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title cabin-regular2">Cursos Online</h5>
                    <p class="card-text cabin-regular3">Página Web donde se venden cursos online del área de la Ingeniería y la Construcción para profesionales que requieran ampliar sus conocimientos en un área específica. </p>
                    <%= link_to 'Ingresar al Proyecto', 'https://2cgestioninmobiliaria.cl/cursos-online/', class: 'btn-proyecto', target: '_blank' %>
                </div>
            </div>
        </div>
        
        <!-- cuarta tarjeta -->
        <div class="col-12 col-md-3 mb-3">
            <div class="card custom-card h-100">
                <%= image_tag 'card4.PNG', class: "card-img-top" %>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title cabin-regular2">2C Store Chile</h5>
                    <p class="card-text cabin-regular3">Tienda Online que ofrece una amplia gama de productos para el hogar, tecnología de vanguardia, bienestar y salud. Con despacho gratuito y pago contra entrega.</p>
                    <%= link_to 'Ingresar al Proyecto', 'https://2cstorechile.com/', class: 'btn-proyecto', target: '_blank' %>
                </div>
            </div>
        </div>
    </div>
</section> 